#home
  .container
    .navbar
      .navbar-brand
        %a Up<span class="text--blue">beat</span>
      %ul.nav.navbar-nav.navbar-right
        %li
          - if current_producer
            = link_to "Log out", destroy_producer_session_path, method: "delete"
          - else
            %a#signin-button{ href: new_producer_session_path(method: "DELETE") } Log in
        %li <a>Sign Up</a>
        %li <a>Browse sounds</a>
    .jumbotron#home--maintext
      %h2 Download and share high-quality beats, loops and samples with other musicians and producers around the world.
      #home--buttons
        %a.btn.btn-success.btn-lg#signup-button{ href: new_producer_registration_path }
          Sign Up
        %a.btn.btn-primary.btn-lg
          Browse Sounds
