#home
  .container
    .navbar
      .navbar-brand
        %a Up<span class="text--blue">beat</span>
      %ul.nav.navbar-nav.navbar-right
        %li <a>Log in</a>
        %li <a>Sign Up</a>
        %li <a>Browse sounds</a>
    .jumbotron#home--maintext
      %h2 Download and share high-quality beats, loops and samples with other musicians and producers around the world.
      #home--buttons
        %a.btn.btn-success.btn-lg
          Sign Up
        %a.btn.btn-primary.btn-lg
          Browse Sounds
