// Place all the styles related to the sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playbutton {
  cursor: pointer;
  display: inline-block;
  background-image: image_url("play.svg");
  height: 100px;
  width: 100px;
  background-size: 200px 100px;
  background-position: 0 0;
  float: left;
  margin: 20px 10px;
}
