// Place all the styles related to the sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sound-partial {
  h2 {
    font-size: 1.5em;
  }
}

.sound-admin-links {
  margin-top: 100px;
  text-align: right;
}

.tags {
  margin: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.tag {
  background: linear-gradient(transparent, #0B610B), #00FF00;
  font-size: 0.75em;
  color: black;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 10px;
  border: none;
  margin: 0 3px;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.playbutton {
  cursor: pointer;
  display: inline-block;
  background-image: image-url('play.svg');
  height: 50px;
  width: 50px;
  background-size: 100px 50px;
  background-position: 0 0;
  float: left;
  margin: 10px 10px;
}

#banner {
  background-image: linear-gradient(transparent 50%, #0d0d0d), linear-gradient(to left, #0d0d0d, transparent, #0d0d0d), image-url('banner1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 230px;
}

#banner-mysounds {
  background-image: linear-gradient(transparent 50%, #0d0d0d),
                    linear-gradient(to left, #0d0d0d, transparent 20%),
                    linear-gradient(to right, #0d0d0d, transparent 20%),
                    image-url('cdj.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 230px;
}

.hidden-options {
  margin-top: 10px;
  display: none;
}

.filter-option {
  cursor: pointer;
}

.modal-dialog {
  margin-top: 200px;
}

.modal-content {
  background-color: #0d0d0d;
  border-radius: 0;
  box-shadow: 0 0 5px $light-blue;
  .close {
    color: white;
  }
  .modal-header, .modal-body, .modal-footer {
    border: none;
  }
}
