body {
font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 1.5em;
}

a {
  color: white;
}

.text--blue {
  color: $light-blue;
}

.text--bold {
  font-weight: bold;
}

.text--med {
  font-size: 1.25em;
}

.text--center {
  text-align: center;
}

.glyphicon {
  color: white;
}

.voting {
  margin-top: 7px;
  float: right;
  font-size: 1em;
  text-align: center;
  .glyphicon {
    margin: 2px;
    display: block;
    cursor: pointer;
  }
}

.glyphicon-remove {
  border-radius: 100%;
  background-color: #B40404;
  padding: 5px;
  cursor: pointer;
}

.glyphicon-edit {
  border-radius: 100%;
  background-color: #AEB404;
  padding: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: $light-blue;
  border: none;
}

.btn-danger {
  background-color: #B40404;
  border: none;
}

.btn-success {
  background-color: #0B610B;
  border: none;
}
